@use postcss-preset-env {
  stage: 0;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #3a4f5b;
  color: #fff;
  font-family: sans-serif;
  font-style: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  min-block-size: 100vh;
  width: 90%;
}

h3 {
    margin-top: 20px;
}

button {
    margin-top: 7px;
}

li {
    list-style: none;
}

figure {
  margin: 0;
}

a,
a:hover {
    color: #fff;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
}

label {
    margin-top: 10px;
}

footer,
.footer_div, {
    width: 100%;
}

#about {
    padding-left: 0.5rem;
    color: #b3b1ad;
}

.nav-link,
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: #3a4f5b;
}

.menu-elem:focus,
.menu-elem:hover {
    font-color: #fff;
    background-color: #3a4f5b;
}

.movies {
  display: grid;
  grid-gap: 3em 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  margin: 0;
  padding: 0;
  margin-top: 2em;
  list-style: none;
}

.movie__figure {
  position: relative;
}

.movie__poster {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
}


.movie__title {
  font-size: 0.876rem;
  font-weight: 400;
  margin: 0;
}