{% extends 'base.html' %}

{% block title %}TV Series Reminder{% endblock %}

{% block main %}

<div class="page-header">
    <h2>This is a TV Series Reminder</h2>
    <p>Get an email whenever a new episode of your favourite TV series is coming.</p>
</div>
<div>
    <form action="/" method="post" enctype="multipart/form-data">
            <input
                    type="text"
                    class="form-control"
                    name="user_search"
                    id="user_search"
                    value="{{ user_search }}"
                    placeholder="Input movie title..."
                    autofocus
                    required>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
</div>
<h3>{{ greeting }}</h3>

{% if results %}
        <ul class="movies">
            {% for title in results %}
                {% include 'title_card.html' %}
            {% endfor %}
        </ul>
{% elif request.form.get('user_search') %}
<p>Sorry, there are no matches for {{ request.form.get('user_search') }}...:(</p>
{% endif %}

{% endblock %}
