{% extends "base.html" %}

{% block title %}Create an account on TV Series Reminder{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up to TV Series Reminder</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </p>
        {% endif %}
        {% endwith %}
    </div>
</div>
     <main class="form-signin col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <form method="POST" action="{{ url_for('auth.signup_post') }}">
            <div class="form-floating">
                <div class="control">
                    <label for="floatingInput">Email address</label>
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="email@example.com" required>
                </div>
            </div>
            <div class="form-floating">
                <div class="control">
                    <label for="floatingName">Name</label>
                    <input type="text" name="name" class="form-control" id="floatingName" placeholder="Name" required>
                </div>
            </div>
            <div class="form-floating">
                <div class="control">
                    <label for="floatingPassword">Password</label>
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                </div>
            </div>
            <button class="button btn btn-lg btn-primary">Sign Up</button>
        </form>
    </main>

{% endblock %}